{% extends 'html/header.html' %}
{% block title %}Request{% endblock %}
{% block content %}
<div class="container mt-2">
	<div class="card col-md-6 mx-auto mt-2 shadow-lg">
		<h3 class="text-center text-white bg-info border rounded p-2 mt-2">Request Role</h3>
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
		<table class="table table-borderless">
			{% for m in y %}
			<tr>
				<td>{{m}}</td>
			</tr>
			{% endfor %}
		</table>
		<input type="number" name="age" class="form-control my-3" placeholder="Enter your Age">
		<input type="text" name="text" class="form-control my-4" placeholder="Enter your Requested Role">
		<input type="text" name="gender" class="form-control my-4" placeholder="Enter your Gender">
		<input type="file" name="fil" class="form-control my-4" placeholder="Enter your Mail">
		<input type="text" name="ad" class="form-control my-4" placeholder="Enter your Address">
		<input type="number" name="pn" class="form-control my-4" placeholder="Enter your Phone Number">
		<input type="submit" value="Send" class="btn btn-info text-white  col-sm">  
		</form>
	</div>
</div>
	
</div>
{% endblock %}